.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #050505;
}

.about-us .link1

{
    background-color: #242323;
    color: #fefdfd;
    font-size: large;
}
.about-us .link1:hover
{background-color: darkred;

}


.about-us, .contact {
    text-align: center;
    padding: 50px 0;
    background-color: #0d0b0b;
    color: #f5efef;
}

.about-us h2, .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-us p, .contact p {
    margin-bottom: 20px;
}