.hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('../assets/new_1.jpeg'); 
    background-size: cover;
    background-position: center;
    color: hsl(0, 6%, 94%);
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}