
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 0;
    /* background-image: url(' ');  */
    background-size: cover;
    background-position: center;
    color: hsl(0, 23%, 91%);
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.services {
    text-align: center;
    /* padding: 50px 0; */
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    background-color: #555;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.service {
    margin: 20px;

    width: 100%;
    overflow: hidden; 
    /* white-space: nowrap; */
    
}
.image-wrapper
{
    /* display: inline-block; */
    white-space: nowrap; 
    animation: scrollImages 20s linear infinite;
}
.image-wrapper img {
    max-width: 100%;
    height: auto;
    margin-right: 20px; 
}
@keyframes scrollImages {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.service img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}







/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.cta-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change the color of links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown content when the button is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}


.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}



.about-us, .contact {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
}

.about-us h2, .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-us p, .contact p {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
