
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f6ebeb;
}

header {
    background-color: #333;
    color: #f0ebeb;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('new_1.jpeg'); 
    background-size: cover;
    background-position: center;
    color: hsl(0, 6%, 94%);
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.services {
    text-align: center;
    /* padding: 50px 0; */
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    background-color: #555;
    color: #fff;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    
}
.services button{
    color: #080909;
    font-size: large;
}
.services button:hover
{
    background-color: darkred;

}


.service {
    margin: 20px;

    width: 100%;
    overflow: hidden; 
    /* white-space: nowrap; */
    
}
.image-wrapper
{
    /* display: inline-block; */
    white-space: nowrap; 
    animation: scrollImages 20s linear infinite;
}
.image-wrapper img {
    max-width: 100%;
    height: auto;
    margin-right: 20px; 
}
@keyframes scrollImages {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.service img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}

.about-us button
{
    color: #0e0e0e;
    font-size: large;
}
.about-us button:hover
{background-color: darkred;

}


.about-us, .contact {
    text-align: center;
    padding: 50px 0;
    background-color: #0d0b0b;
    color: #f5efef;
}

.about-us h2, .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-us p, .contact p {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
